body {
  background-color: whitesmoke
}

#content-wrapper {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.158);
  margin-top: 5%;
}

#title {
  margin: 3%;
  width: 100%;
}

.custom-column {
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

#content {
  margin-top: 50%;
  margin-right: 5%;
}

p.text {
  font-size: 20px;
  text-align: justify;
  text-shadow: 2px 2px #00000023;
}

img.figure {
  border-radius: 15px;
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.349);
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.fade-in-left {
  animation: fade-in-left 1.5s ease-in-out;
}

#content-right {
  margin-top: 50%;
  margin-right: 5%;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.fade-in-right {
  animation: fade-in-right 1.5s ease-in-out;
}

#lady-of-woe {
  height: auto;
  width: 90%;
}

div.carousel-item img{
  border-radius: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
}

input {
  background-color: white;
}